@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
    --mainColor: rgba(33, 34, 51, 0.9);
    --menuColor: rgba(29, 31, 60, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: 'titleFont';
    src: url('../fonts/OPTICopperplate.otf');
  }

body {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    height: auto;
    background-color: var(--mainColor);
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/HomePage.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--mainColor);
    height: 5vw;
    width: 100%;
    position: fixed;
    z-index: 99;
    scroll-behavior: smooth;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

    .navigation a:hover {
        color: #a13ea1;
    }

.navigation a::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

    .navigation a:hover::after {
        transform: scaleX(1);
    }

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background:  #873b87;
    border: 2px solid #ffffff73;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 10px;
    transition: .3s;
}

    .navigation .btnLogin:hover {
        background: var(--mainColor);
        color: #873b87;
        border: 2px solid #873b87;
    }

    .logo {
        position: absolute;
        width: 5vw;
        height: 5vw;
        left: 4%;
        bottom: -0.3vw;
    }

.title {
    position: absolute;
    color: white;
    left: 8.5%;
    font-size: 2vw;
    font-family: 'Copperplate Gothic';
}

/* Content desc starts here */
.content-wrapper{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
/* .content-desc{

} */

.content-desc h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.content-desc p{
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.content-desc span{
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke-width: 1.5px; /* Width of the stroke */
    -webkit-text-stroke-color: #a13ea1; /* Color of the stroke */
}
#btn2{
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: 2px solid #ffffff73;
    background: #a13ea1;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
    color: #fff;
}
.game{
    width: 400px;
    height: 400px;
    background: url(../images/AppleCharacter.avif);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
}

.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.logo-section .fas{
    font-size: 6rem;
    color: #fff;
}
.logo-section h1{
    width: 250px;
    font-size: 2rem;
    font-family: 'Copperplate Gothic';
    color: #fff;
    margin-left: 10px;
}
/* Section one starts here */

.section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/LoginPageSection1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* transform: scale(0); */
}

.section-1 h1{
    font-family: 'Copperplate Gothic';
    font-size: 1.5rem;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}
.section-1-wrapper{
    width: 70%;
    height: 40%;
    margin: auto;

}
.section-1-img{
    display: flex;
    margin-top: 20px;
}
.section-1-img .img{
    width: 150px;
    height: 150px;
    background: url(../images/game1.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 10px;
}
.section-1-img .img-2{
    background: url(../images/game2.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-3{
    background: url(../images/game3.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-4{
    background: url(../images/game4.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-5{
    background: url(../images/game5.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-6{
    background: url(../images/game6.png);
    background-size: cover;
    background-position: center;
}
.img:hover{
    transform: translateY(-10px);
}

/* Section 2 starts here */

.game-categories {
    width: 70%;
    height: 40%;
    margin: auto;
}

.game-categories h2 {
    font-size: 1.3rem;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0;
    color: #fff;
    cursor: pointer;
}

.game-categories h2:hover {
    color: #a13ea1;
}

.category {
    display: none;
}

.game-wrapper {
    display: flex;
}

.gw {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin: 20px 15px 0 0;
    border-radius: 10px;
}

.gw:hover {
    transform: translateY(-10px);
}


/* Selected category styles */
.category.active {
    display: block;
}

.gw-1{
    background: url(../images/game2.png);
    background-size: cover;
    background-position: center;
}
.gw-2{
    background: url(../images/game1.png);
    background-size: cover;
    background-position: center;
}
.gw-3{
    background: url(../images/game3.png);
    background-size: cover;
    background-position: center;
}
.gw-4{
    background: url(../images/game4.png);
    background-size: cover;
    background-position: center;
}
.gw-5{
    background: url(../images/game5.png);
    background-size: cover;
    background-position: center;
}
.gw-6{
    background: url(../images/game6.png);
    background-size: cover;
    background-position: center;
}
.gw-7{
    background: url(../images/game4.png);
    background-size: cover;
    background-position: center;
}


/* FOoter section */
footer{
    position: absolute;
    align-self: flex-end;
    width: 100%;
    height: 55vh;
    background: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-body{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #a13ea1;
    margin-right: 15px;
}
ul li a:hover{
    color: #a13ea1;
}

.footer-bottom{
    z-index: 99;
    width: 100%;
    height: 7vh;
    background: var(--menuColor);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #a13ea1;
    font-weight: bold;
}

/* media qeries */
/* Tablets */
@media(min-width: 580px) and (max-width: 1024px){
    .title {
        font-size: 1rem;
    }

    .navigation a {
        font-size: 0.9em;
        margin-left: 20px;
    }

    .navigation .btnLogin {
        height: 25px;
        width: 110px;
        font-size: 0.9em;
        margin-left: 20px;
    }

    .container{
        height: fit-content;
    }
    .content-wrapper {
        justify-content: flex-end;
        align-items: center;
        height: fit-content;
        flex-direction: column;
    }

    .game-categories{
        width: 90%;
        flex-direction: column;
    }

    .section-1 {
        height: fit-content;
    }

    .section-1-img{
        display: flex;
        height: fit-content;
        flex-direction: column;
        margin-top: 20px;
    }

    .content-desc{
        margin-top: 50px;
        height: fit-content;
    }

    .game{
        display: none;
    }
}

@media(min-width: 320px) and (max-width: 581px){
    header {
        height: 35px;
        width: 100%;
        position: fixed;
        z-index: 99;
        scroll-behavior: smooth;
    }
    .logo {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 4%;
        bottom: -0.3vw;
    }
     /* Adjustments for very small screens */
     .title {
        display: none;
    }

    .container{
        height: fit-content;
    }
    .navigation a {
        font-size: 0.8em; /* Adjust font size */
        margin-left: 10px; /* Adjust margin */
    }

    .navigation .btnLogin {
        width: 90px; /* Adjust button width */
        height: 25px;
        font-size: 0.8em; /* Adjust font size */
    }
    .content-desc p {
        width: 90%; /* Adjust width */
        height: fit-content;
    }
    .content-wrapper {
        justify-content: flex-end;
        align-items: center;
        height: fit-content;
    }
    .content-desc{
        margin-top: 50px;
        height: fit-content;
    }

    .logo-section{
        margin-right: 50px;
    }
    .game-categories{
        width: 90%;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .game-categories h2 {
        font-size: 1.3rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0;
        color: #fff;
        cursor: pointer;
    }
    .section-1 {
        height: fit-content;
    }

    .section-1-img{
        display: flex;
        height: fit-content;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .game{
        display: none;
    }

    footer{
        height: fit-content;
        font-size: 0.675rem;
    }
    .footer-body{
        margin-top: 20px;
        justify-content: center;
        flex-direction: column;
        font-size: 0.675rem;
    }
}